<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  IgnorableNamespaces="uap rescap desktop">

  <Identity
    Name="393193CD-4A5B-4502-BC94-7C6AF142CD28"
    Publisher="CN=Michael Hacker"
    Version="1.3.1.0" />

  <mp:PhoneIdentity PhoneProductId="393193CD-4A5B-4502-BC94-7C6AF142CD28" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>WSL Container Desktop</DisplayName>
    <PublisherDisplayName>Michael Hacker</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.26226.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.26226.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="WSL Container Desktop"
        Description="Manage WSL container images, running containers, and a local k3s Kubernetes cluster."
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" />
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <desktop:Extension
          Category="windows.startupTask"
          Executable="WslContainerDesktop.exe"
          EntryPoint="Windows.FullTrustApplication">
          <desktop:StartupTask
            TaskId="WslContainerDesktopStartupTask"
            Enabled="false"
            DisplayName="WSL Container Desktop" />
        </desktop:Extension>

        <!-- Register the app as a target for app-notification (toast) activation. -->
        <desktop:Extension Category="windows.toastNotificationActivation">
          <desktop:ToastNotificationActivation ToastActivatorCLSID="0A09D2E0-BDE4-4315-988E-3E808AC12994" />
        </desktop:Extension>

        <!-- COM server the Windows App SDK needs so AppNotificationManager.Register() succeeds. -->
        <com:Extension Category="windows.comServer">
          <com:ComServer>
            <com:ExeServer Executable="WslContainerDesktop.exe" DisplayName="WSL Container Desktop" Arguments="----AppNotificationActivated:">
              <com:Class Id="0A09D2E0-BDE4-4315-988E-3E808AC12994" />
            </com:ExeServer>
          </com:ComServer>
        </com:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
